.maksu {
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerteksti {
    font-family: 'Maven Pro', sans-serif;
    list-style: none;
    text-align: center;
}

.kartta {
    width: 90%;
    border:0;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5px;
}

.copyrightText {
    text-align: center;
    padding-top: 15px;
}

@media only screen and (max-width: 770px) {
    .kartta {
        width: 100%;
        height: auto;
        border:0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}