::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
/* .scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px; } */
    
 
    ::-webkit-scrollbar-thumb {
        width: 12px;
    background-color: #F5F5F5;
      }
    
    
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#8ae635));
    background-image:-webkit-linear-gradient(bottom, #30cfd0 0%, #b7f532 100%);
    background-image: linear-gradient(to top, #e981e9 0%, #71dfdf 100%); }
